body{
    background-color: #81848F;
}
p{
    font-family: 'Nunito', sans-serif;
}
footer{
    background-color: black;
    padding-top: 2em;
    position: inherit;
    bottom: 0;
    width: 100%;
}
a{
    color:white;
}
input{
    border-radius: 6px;
    background-color: #3A3B4A;
    color:#e4a100;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus{
    border: 3px solid #e4a100;
}
.producto{
    background-color: #3A3B4A;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
.btntabern{
    background-color: #940F36;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
}
/*______________________________MENU_______________________________*/
.negro{
    background-color: black;
}
.tnara{
    color: #e4a100;
}
.naranja{
    background-color: #e4a100;
    color: #e4a100;
}
.menu:hover{
    background-color: #e4a100;
    color:black;
}
.menu:focus{
    background-color: #e4a100;
    color: black;
}
.modal-content{
    background-color: #81848F;
}
.btn-close{
    background-color: #e4a100;
}
.btnf{
    border-radius: 6px;
}
